<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registrar Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">📝 Registrar Nuevo Usuario</h4>
                </div>
                <div class="card-body py-2 px-4">
                   
                    <form th:action="@{/users/guardar}" th:object="${usuario}" method="POST">

                        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <p th:each="err : ${#fields.errors('*')}" th:text="${err}">Mensaje de error</p>
                        </div>
                        
                        <div class="mb-2">
                            <label for="nombre" class="form-label">Nombre completo</label>
                            <input type="text"
                                   class="form-control"
                                   id="nombre"
                                   th:field="*{name}"
                                   placeholder="Ej. Ana Pérez"
                                   required>
                            <div th:if="${#fields.hasErrors('name')}" class="text-danger mt-1" th:errors="*{name}">Error en nombre</div> <!-- Muestra error específico -->
                        </div>

                        <!-- Campo: Email -->
                        <div class="mb-2">
                            <label for="email" class="form-label">Correo electrónico</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   th:field="*{email}"
                                   placeholder="ana@example.com"
                                   required>
                            <div th:if="${#fields.hasErrors('email')}" class="text-danger mt-1" th:errors="*{email}">Error en email</div> <!-- Muestra error específico -->
                        </div>
                        <!-- Campo: Password -->
                        <div class="mb-2">
                            <label for="password" class="form-label">Password</label>
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   th:field="*{password}"
                                   placeholder="Ingrese su contraseña"
                                   required>
                            <div th:if="${#fields.hasErrors('password')}" class="text-danger mt-1" th:errors="*{password}">Error en password</div> <!-- Muestra error específico -->
                        </div>

                        <!-- Botones -->
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a class="btn btn-secondary me-md-2">Cancelar</a>
                            <button type="submit" class="btn btn-success">Guardar Usuario</button>
                        </div>

                        <!--<button href="/users/listar" class="btn btn-success">Lista de usuarios</button> -->

                    </form>

                </div>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>